<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CONN_STRING" value="server=127.0.0.1;user id=root;password=123qwe;database=maymay;Charset=utf8;oldsyntax=true"/>
  </appSettings>
  <system.web>
    <httpModules>
      <add name="FrontAppHttpModule" type="LinMVC.FrontAppHttpModule,LinMVC"/>
    </httpModules>
    <authentication mode="Windows"/>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>