<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="CONN_STRING" value="server=127.0.0.1;user id=root;password=123qwe;database=maymay;Charset=utf8;oldsyntax=true"/>
  </appSettings>
  <system.web>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN"  fileEncoding="utf-8" />
    <authentication mode="None"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <!--
    <httpModules>
      <add name="FrontAppHttpModule" type="LinMVC.FrontAppHttpModule,LinMVC"/>
    </httpModules>
    -->
  </system.web>
  <system.webServer>
    <modules>
      <add name="FrontAppHttpModule" type="LinMVC.FrontAppHttpModule,LinMVC"/>
    </modules>
  </system.webServer>
</configuration>